.friendList{
    margin: 15px auto;
    display: block;
    width: 355px;
    background-color: rgba(0, 255, 255, 0.199);
    padding: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

}



